@import 'colors';

%normal_button {
  background-color: $button;
  color: $snow;
  width: 195px;
  height: 53px;
  border:none;
}

%normal_button:hover {
  border-color: $button;
  background-color: $snow;
  color: $button;
  width: 195px;
  height: 53px;
}
