@import 'colors';

%normal-button {
  background-color: $button;
  color: $snow;
  width: 195px;
  height: 53px;
  border:none;
}

%normal-button:hover {
  border: 2px solid $button;
  color: $button;
  background-color: $snow;
  width: 195px;
  height: 53px;
}
