@import 'colors';
@import 'typography';

%normal-button {
  background-color: $button;
  color: $snow;
  width: 195px;
  height: 53px;
  border:none;
}

%normal-button:hover {
  @extend %space-mono-body;
  border-color: $button;
  border: 2px solid $button;
  color: $button;
  background-color: $snow;
  width: 195px;
  height: 53px;
}
