%header {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

%header_picture {
  width: 107.82px;
  height: 28.56px;
  margin: auto 0;
}

%first_header_container {
  display: flex;
  align-items: center;
  width: 1106px;
  height: 96px;
  margin: 0 auto;
}

%secondary_header_container_home_page {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 650px;
  margin: 0 auto;
  background-image: url('../assets/scooter_background.jpg');
}
