@import 'typography';
@import 'colors';

%navbar {
  display: flex;
  align-items: center;
  margin-left: 61px;
}

%ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 249px;
}

%a {
  @extend %nav_bar_typography;
  color: $dim-grey;
}
