@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");
.hero-banner h1 {
  font-family: "Space Mono", monospace;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
}

.payments article h2, .nearest-cities article h2, .telemetry article h2 {
  font-family: "Space Mono", monospace;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
}

.articles-container article h2 {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
}

.payments article p, .nearest-cities article p, .telemetry article p, .articles-container article p, .hero-banner .introduction-summary p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  line-height: 25px;
}

.payments article button:hover, .nearest-cities article button:hover, .telemetry article button:hover, .hero-banner .introduction-summary button:hover {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: bold;
}

.hero-banner h1 {
  font-family: "Space Mono", monospace;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
}

.payments article h2, .nearest-cities article h2, .telemetry article h2 {
  font-family: "Space Mono", monospace;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
}

.articles-container article h2 {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
}

.payments article p, .nearest-cities article p, .telemetry article p, .articles-container article p, .hero-banner .introduction-summary p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  line-height: 25px;
}

.payments article button:hover, .nearest-cities article button:hover, .telemetry article button:hover, .hero-banner .introduction-summary button:hover {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: bold;
}

.payments article button, .nearest-cities article button, .telemetry article button, .hero-banner .introduction-summary button {
  background-color: #FCB72B;
  color: #F2F5F9;
  width: 195px;
  height: 53px;
  border: none;
}

.payments article button:hover, .nearest-cities article button:hover, .telemetry article button:hover, .hero-banner .introduction-summary button:hover {
  border-color: #FCB72B;
  border: 2px solid #FCB72B;
  color: #FCB72B;
  background-color: #F2F5F9;
  width: 195px;
  height: 53px;
}

.hero-banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40.6rem;
  background-image: url("../assets/scooter-background.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
}
.hero-banner h1 {
  margin-top: 9.8rem;
  margin-left: 10.4rem;
  width: 31.25rem;
  color: white;
}
.hero-banner .introduction-container {
  display: flex;
  flex-direction: row;
  margin: 1.25rem 0 auto;
}
.hero-banner .introduction-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25rem;
  margin-left: 3.8rem;
}
.hero-banner .introduction-summary p {
  margin-top: 0.7rem;
  color: white;
}
.hero-banner .introduction-summary button {
  margin-top: 3rem;
}
.hero-banner .flat-arrow {
  background-image: url("../assets/flat_arrow.png");
  background-repeat: no-repeat;
  width: 12.5rem;
  height: 0.7rem;
  margin-top: 4%;
}
.hero-banner .left-to-right-arrow {
  background-image: url("../assets/left-to-right-arrow.svg");
  background-repeat: no-repeat;
  width: 28.2rem;
  height: 8.75rem;
  margin-top: 4.3%;
  margin-left: 2.19rem;
  right: 0;
}
.hero-banner .three-circles {
  background-image: url("../assets/three-circles-quarter.png");
  background-repeat: no-repeat;
  width: 11.5rem;
  height: 3.9rem;
  margin-top: 9.3%;
  margin-left: 6.6%;
}

.getting-started {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 9.3%;
}

.thumbnails {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 60%;
  margin-bottom: 1rem;
}
.thumbnails img {
  width: 6rem;
  position: relative;
  z-index: 1;
  padding: 0.7rem;
  margin: 0 17%;
}

.flat-line {
  background-image: url("../assets/flat_line.png");
  position: absolute;
  top: 50%;
  left: 0;
  width: 60.9rem;
  height: 0.7rem;
  z-index: 0;
}

.articles-container {
  display: flex;
  margin-bottom: 13rem;
}
.articles-container article p {
  margin-top: 1.5rem;
  width: 22rem;
  color: #939CAA;
}
.articles-container .first-article {
  margin-left: 9.8rem;
}
.articles-container .article {
  margin-left: 2.5rem;
}

.telemetry {
  display: flex;
  position: relative;
  width: 79.7rem;
  margin-bottom: 13rem;
  margin-left: 9.6rem;
}
.telemetry article {
  display: flex;
  flex-direction: column;
  width: 27.9rem;
}
.telemetry article h2 {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
.telemetry article p {
  color: #939CAA;
}
.telemetry article button {
  margin-top: 2.5rem;
}
.telemetry .telemetry-picture {
  width: 27.9rem;
  margin-left: 14.3rem;
}
.telemetry .right-to-left-arrow {
  position: absolute;
  background-image: url("../assets/right-to-left-arrow.svg");
  background-repeat: no-repeat;
  width: 45.9rem;
  height: 9.4rem;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.telemetry .right-circle-quarter {
  background-image: url("../assets/right-circle-quarter.png");
  background-repeat: no-repeat;
  width: 5.7rem;
  height: 28.2rem;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.nearest-cities {
  display: flex;
  position: relative;
  width: 89.2rem;
  margin-bottom: 13rem;
}
.nearest-cities article {
  display: flex;
  flex-direction: column;
  width: 27.9rem;
  margin-left: 13.2rem;
}
.nearest-cities article h2 {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
.nearest-cities article p {
  color: #939CAA;
}
.nearest-cities article button {
  margin-top: 2.5rem;
}
.nearest-cities .nearest-cities-picture {
  width: 27.9rem;
  margin-left: 165px;
}
.nearest-cities .left-to-right-small-arrow {
  position: absolute;
  background-image: url("../assets/left-to-right-small-arrow.png");
  background-repeat: no-repeat;
  width: 45.9rem;
  height: 9.4rem;
  left: 0;
  top: 0;
}
.nearest-cities .left-circle-quarter {
  background-image: url("../assets/left-circle-quarter.png");
  background-repeat: no-repeat;
  width: 6.25rem;
  height: 28.2rem;
  position: absolute;
  left: 0;
  top: 0;
}

.payments {
  display: flex;
  position: relative;
  width: 79.7rem;
  margin-bottom: 13rem;
  margin-left: 9.6rem;
}
.payments article {
  display: flex;
  flex-direction: column;
  width: 27.9rem;
}
.payments article h2 {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
.payments article p {
  color: #939CAA;
}
.payments article button {
  margin-top: 2.5rem;
}
.payments .payments-picture {
  width: 27.9rem;
  margin-left: 14.3rem;
}
.payments .payments-picture img {
  border-radius: 50%;
}
.payments .right-to-left-small-arrow {
  position: absolute;
  background-image: url("../assets/right-to-left-small-arrow.svg");
  background-repeat: no-repeat;
  width: 21.9rem;
  height: 9.4rem;
  right: 0;
  top: 0;
  margin-top: 4.7rem;
  z-index: 1;
}
.payments .right-circle-quarter {
  background-image: url("../assets/right-circle-quarter.png");
  background-repeat: no-repeat;
  width: 5.7rem;
  height: 28.2rem;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

/*# sourceMappingURL=home-page.css.map */
